li {
  display: inline-block;
  margin-left: 100px;
}
.nav {
  margin-left: 500px;
}
a {
  text-decoration: none;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #7d7d7d;
}
.active {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #03a9f4;
}
section {
  margin-left: 370px;
  margin-top: 92px;
}
.lestyle {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b4ad9e;
}
h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  /* identical to box height */

  color: #626262;
}
button {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #626262;
  width: 165px;
  height: 60px;
  margin-left: 506px;
  background-color: white;
  border: 1px solid #626262;
  margin-top: 92px;
}
